/* styles/themes.css */
.app[data-theme="dark"]{
  --bg:#ffffff;
  --fg:#483eb1;
  --card:rgba(72,62,177,.03);
  --border:rgba(72,62,177,.10);
  --glow:rgba(72,62,177,.06);
}
.app[data-theme="print"]{
  --bg:#ffffff;
  --fg:#483eb1;
  --card:rgba(72,62,177,.03);
  --border:rgba(72,62,177,.10);
  --glow:rgba(72,62,177,.06);
}
